Source: collectd-td
Section: utils
Priority: optional
Maintainer: Ariel Shaqed (Scolnicov) <arielshaqed@google.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, liboping-dev, libltdl-dev,
 linux-libc-dev, protobuf-c-compiler
Standards-Version: 3.9.4
#Homepage: <insert the upstream URL, if relevant>
#Vcs-Git: git://git.debian.org/collab-maint/collectd-td.git
Vcs-Browser: https://github.com/GoogleCloudPlatform/collectd-netperf/tree/netperf-deb-pkg

Package: collectd-td
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, liboping0, libltdl7, cgroup-bin
Description: Statistics collection daemon
 collectd is a small daemon which collects system information periodically and
 provides mechanisms to monitor and store the values in a variety of ways. It
 is written in C for performance. Since the daemon doesn't need to start up
 every time it wants to update the values it's very fast and easy on the
 system. Also, the statistics are very fine grained since the files are updated
 every 10 seconds by default.
 .
 This is the Google Network Performance Monitoring Agent: collectd with a
 small number of collection and reporting plugins.

